black==24.4.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
deltalake==0.17.4
exceptiongroup==1.2.1
idna==3.7
iniconfig==2.0.0
isort==5.13.2
mypy-extensions==1.0.0
numpy==1.26.4
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
polars==0.20.30
pyarrow==16.1.0
pyarrow-hotfix==0.6
pytest==8.2.1
requests==2.32.2
tomli==2.0.1
typing_extensions==4.12.0
urllib3==2.2.1
